<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--<h2>Insecure page</h2>-->

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.<br />

    <div sec:authorize="hasAuthority('ROLE_ADMIN')" >
        This content is only shown to administrators.
    </div>

    <div sec:authorize="hasAuthority('ROLE_USER')" >
        This content is only shown to users.
    </div>

    Logged user: <span sec:authentication="name"> The value of the "name" property of the authentication object should appear here.</span><br />
    Roles: <span sec:authentication="principal.authorities">
    [ROLE_USER, ROLE_ADMIN]</span><br /><br />
</div>
<div sec:authorize="isAnonymous()">
    <!--This content is only show to anonymous users.-->
    <table>
    <tr>
    <th>Content</th>
    <th>Sent By</th>
    <th>Date</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.sentby}"></td>
        <td th:text="${message.posteddate}"></td>
    </tr>
    </table>

</div>
<a href="/login">Login</a>
<!--<a href="/logout">Logout</a>-->
<a href="/register">Register</a>
<!--<a href="/secure">Secure page</a>-->
</body>
</html>