<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<table class="table">

    <tr>
        <th>Messages</th>
        <a href="/add">Add Message</a>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.sentby}"></td>
        <td th:text="${message.posteddate}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td>
    </tr>
</table>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>